[run]
branch = True
source = function/
omit =
    venv/*
    tests/*
    setup.py

[report]
exclude_lines =
    logger
    # See https://github.com/nedbat/coveragepy/issues/970
    pragma: no cover
    @overload
